[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "external/tree-sitter"]
	path = external/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
